/* el nesting esta en y contacto 
el extend esta en seccion contacto
*/
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.container-flui {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

body {
  min-height: 100vh;
}

.title-page {
  padding: 5em 0 1em 1em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  padding-top: 100px;
}

li {
  list-style: none;
}

@media screen and (max-width: 900px) {
  footer {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  tr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .data-form {
    width: 100%;
  }
}
.navbar {
  background-color: #000;
}

.logo-nav {
  height: 3em;
  width: auto;
  margin-bottom: 4.5px;
  margin-right: 0.35em;
}

.footer {
  padding: 1em;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social {
  width: 2em;
  padding: 0.5em;
  filter: grayscale(100);
}

.copy {
  text-align: center;
}

.title-page-contact {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 3px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 110vh;
  color: #fff;
  background-image: url("../images/bg-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1em;
  padding-top: 80px;
}

.data-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 25em;
}

.data-form-textarea, .data-form input, .btn-enviar, .data-form label {
  margin: 0.25em;
  text-transform: uppercase;
  font-weight: bold;
}

.data-form input, .data-form textarea, .btn-enviar {
  border: 0px solid #fff;
  border-radius: 10px;
  width: 100%;
  padding: 0.5em;
  box-shadow: 5px 10px 10px rgba(82, 82, 82, 0.489);
}

.btn-enviar {
  height: 2.5em;
  color: #fff;
  background-color: #000;
}

.hr-contact {
  color: #fff;
  border: solid 0.5px;
  width: 90%;
  margin: 0.5em 0 0.5em;
}

.container-photos {
  padding-bottom: 0.5em;
  color: #fff;
  background-color: #000;
}

.col-xl-6 img {
  padding: 0.5em 0 0.5em 0;
}

.img-name {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  background-image: url("../images/bg-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.about-img {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #000;
  }

.about-text {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}

.text-padding-01 {
  padding: 1em 1em 0 1em;
}

.text-padding-02 {
  padding: 0 1em 0 1em;
}

.container-gallery {
  background-image: linear-gradient(#f8f8f8ec, #c4c4c400);
}

.work-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
}

.gallery-work-item {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1 0 300px;
  max-width: 300px;
}

.hr-product {
  color: #000;
  border: solid 0.5px;
  width: 38%;
  margin-bottom: 1em;
}

.producto-info p {
  text-transform: uppercase;
  font-weight: 500;
}

.btn-enviar:active {
  background-color: #000;
  box-shadow: 2.5px 5px 5px rgba(82, 82, 82, 0.489);
  transform: translateY(2px);
}

table {
  padding: 2em 2em 2em 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 72.5vh;
}
table tr {
  border-top: 0.25px solid #fff;
  border-bottom: 0.25px solid #fff;
}
table tr th {
  padding: 1em 2em 1em 2em;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #fff;
}

.background-black {
  background-image: radial-gradient(farthest-corner at 100px 100px , #5e006d 0%, #040404 100%);  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

