.img-name{
    min-height: 100vh;
    @include center-flex;
    font-size: map-get($map: $font-sizes, $key: 'extra-large');
    text-align: center;
    font-weight: bold;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: img-name;
    background: radial-gradient(farthest-corner at 100px 100px , #e7ad6b 0%, #040404 100%);  color: #fff;
    color: #fff;
}
 
.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

header .content h1{
     color:#040404;
     margin-bottom: 1rem;
     font-size: 3rem;
     font-weight: 700;
     line-height: 4rem;
 }

header .content h1 span{
     -webkit-text-fill-color: transparent;
     -webkit-text-stroke: 1px #e7ad6b;
 }

header .content p{
     margin-bottom: 2rem;
     color: #040404;
 }

header .image{
     position: relative;
 }

header .image img{
     max-width: 600px;
     margin: auto;
 }
